<script type="text/javascript">
    RED.nodes.registerType('file.sync', {
      category: 'Accellion Custom',
      color: '#fce5bb',
      defaults: {
        name: {value: ""},
        token: {value:"", type:"token", required: true},
        accRootFolder: {value: ""},
        fsRootFolder: {value: ""},
        direction: {value: "DOWN"},
        keepExisting: {value: false},
        threads: {value: 5},
      },
      inputs: 1,
      outputs: 3,
      icon: "accellion_custom.png",
      label: function() {return this.name || "file.sync";}
    });
  </script>
  
  <script type="text/x-red" data-template-name="file.sync">
    <div class="form-row">
        <label for="node-input-name">Name</label>
        <input type="text" id="node-input-name" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-token">Server</label>
        <input type="text" id="node-input-token" placeholder="">
    </div>    
    <div class="form-row">
        <label for="node-input-accRootFolder">Accellion Root Folder</label>
        <input type="text" id="node-input-accRootFolder" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-fsRootFolder">Local Root Folder</label>
        <input type="text" id="node-input-fsRootFolder" placeholder="">
    </div>
    <div class="form-row">
      <label for="node-input-direction">Sync Direction</label>
      <select id="node-input-direction">
        <option value="DOWN">Download</option>
        <option value="UP">Upload</option>
        <option value="TWO-WAY">Bi-Directional</option>
      </select>
    </div>
    <div class="form-row">
        <label for="node-input-threads">Threads</label>
        <input type="number" id="node-input-threads" placeholder="">
    </div>
    <div class="form-row">
      <label for="node-input-keepLocal">Keep Existing Files</label>
      <input type="checkbox" id="node-input-keepExisting" placeholder="">
  </div>

    <!-- ------------------------------------------------------------------- -->
  </script>
  
  <script type="text/x-red" data-help-name="file.sync">
    <h3>Synchronizes files between an Accellion folder and a local folder</h3>
      <p>
        This node will perform a one-way or two-way syncronization between an accellion folder and a local folder.<br>
        The number of concurrent threads can be specified in the configuration.<br>
        The node will only download / upload new files, modified files and delete existing files that have been removed from the source.
      </p><p>
        If "Keep Existing Files" is checked, no files will be removed from the source structure, even if they do not exist at the destination.<br>
      </p><p>
        The 1st output will trigger after all files have been synced.<br>
        The 2nd output will trigger once and deliver the sync table (msg.files) prior to starting syncronization, then triggers on each completed file sync.<br>
        The 3rd output will trigger when an error occurs during the sync process.
      </p>
      <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>msg.accRootFolder<span class="property-type">string</span></dt>
        <dt>msg.fsRootFolder<span class="property-type">string</span></dt>
      </dl>
      <h3>Output 1</h3>
      <dl class="message-properties">
        <dt>msg.files<span class="property-type">array</span></dt>
      </dl>
      <h3>Output 2</h3>
      <dl class="message-properties">
        <dt>msg.files<span class="property-type">array</span></dt>
        <dt>msg.file<span class="property-type">object</span></dt>
      </dl>
      <h3>Output 3</h3>
      <dl class="message-properties">
        <dt>msg.error<span class="property-type">object</span></dt>
      </dl>
  </script>
  