<script type="text/javascript">
  RED.nodes.registerType('fs.file.attributes', {
    category: 'Accellion Custom',
    color: '#fce5bb',
    defaults: {
      name: {value: ""},
    },
    inputs: 1,
    outputs: 1,
    icon: "accellion_custom.png",
    label: function() {return this.name || "fs.file.attributes";}
  });
</script>

<script type="text/x-red" data-template-name="fs.file.attributes">
  <div class="form-row">
      <label for="node-input-name">Name</label>
      <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <!-- ------------------------------------------------------------------- -->
</script>

<script type="text/x-red" data-help-name="fs.file.attributes">
  <h3>Retrieves local file attributes</h3>
    <p>
      Provides attributes for a given file. The location of the file has to be specified in <code>msg.filePath</code>.<br>
      Useful if you need to filter incoming files by certain attributes (i.e. creation date).
    </p>
    <h3>Inputs</h3>
    <dl class="message-properties">
      <dt>msg.filePath<span class="property-type">string</span></dt>
    </dl>
    <h3>Outputs</h3>
    <dl class="message-properties">
      <dt>msg.fileAttributes<span class="property-type">object</span></dt>
    </dl>
</script>
