<script type="text/javascript">
  RED.nodes.registerType('server2server', {
    category: 'Accellion Custom',
    color: '#fce5bb',
    labelStyle: '',
    defaults: {
      name: {value: ""},
      sourceToken: {value:"", type:"token", required: true},
      sourceFolder: {value: "", required: true},
      destinationToken: {value:"", type:"token", required: true},
      destinationFolder: {value: "", required: true},
      tempFolder: {value: "", required: true},
      failureLogFolder: {value: "", required: true},
      apiPool: {value: 10, required: true},
      clearCache: {value: false, required: true},
      ignoreDestinationCache: {value: false, required: true},
    },
    inputs: 1,
    outputs: 1,
    icon: "accellion_custom.png",
    paletteLabel: "s2s",
    label: function() {return this.name || "server 2 server";}
  });
</script>
<script type="text/x-red" data-template-name="server2server">
  <div class="form-row">
        <label for="node-input-name">Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <h5>ACCELLION SOURCE</h5>
    <div class="form-row">
      <label for="node-input-sourceToken">Token</label>
      <input type="text" id="node-input-sourceToken" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-sourceFolder">Folder</label>
        <input type="text" id="node-input-sourceFolder" placeholder="">
    </div>
    <h5>ACCELLION DESTINATION</h5>
    <div class="form-row">
      <label for="node-input-destinationToken">Token</label>
      <input type="text" id="node-input-destinationToken" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-destinationFolder">Folder</label>
        <input type="text" id="node-input-destinationFolder" placeholder="">
    </div>
    <h5>ACCELLION SETTINGS</h5>
    <div class="form-row">
        <label for="node-input-failureLogFolder">Failure Log Folder</label>
        <input type="text" id="node-input-failureLogFolder" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-tempFolder">Temp Folder</label>
        <input type="text" id="node-input-tempFolder" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-apiPool">Max API Threads</label>
        <input type="number" id="node-input-apiPool" placeholder="">
    </div>
    <div class="form-row">
      <label for="node-input-ignoreDestinationCache" style="width: 200px;">Ignore Destination Cache</label>
      <input type="checkbox" id="node-input-ignoreDestinationCache"  style="width: 30px;">
    </div>
    <div class="form-row">
        <label for="node-input-clearCache" style="width: 200px;">Clear Cache</label>
        <input type="checkbox" id="node-input-clearCache" style="width: 30px;>
    </div>
</script>

<script type="text/x-red" data-help-name="server2server">
  <h5>Server 2 Server node</h5>
    <p>
      This node will download all files from the specified folder in the Accellion source storage,
       and upload them to the Accellion destination storage. <br>
       After the files are on the destination, they will be removed from the source.
    </p>

    <h5>Inputs</h5>
    <dl class="message-properties">
     None
    </dl>

    <h5>Outputs</h5>
    <ol class="node-ports">
        <li>Standard output
            <dl class="message-properties">
                <dt>msg.files <span class="property-type">object array</span></dt>
            </dl>
        </li>
    </ol>

</script>
