<script type="text/javascript">
  RED.nodes.registerType('mail.list', {
    category: 'Accellion Custom',
    color: '#fce5bb',
    defaults: {
      name: {value: ""},
      token: {value:"", type:"token", required: true},
      read: {value:false},
      deleted: {value:false},
      isPreview: {value:false},
      bucket: {value:"inbox", required: true},
      mailStatus: {value:"sent", required: false},
    },
    inputs: 1,
    outputs: 2,
    icon: "accellion_custom.png",
    label: function() {
      return this.name || "mail.list";
    }
  });
</script>

<script type="text/x-red" data-template-name="mail.list">
  <div class="form-row">
      <label for="node-input-name">Name</label>
      <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
      <label for="node-input-token">Server</label>
      <input type="text" id="node-input-token" placeholder="">
  </div>

  <!-- ------------------------------------------------------------------- -->
  <div class="row">
      <label for="node-input-read" style="width:250px;text-align: left;clear: both;float:left;margin-left:20px;">Read</label>
      <input type="checkbox" id="node-input-read">
  </div>
  <div class="row">
      <label for="node-input-deleted" style="width:250px;text-align: left;clear: both;float:left;margin-left:20px;">Deleted</label>
      <input type="checkbox" id="node-input-deleted">
  </div>
  <div class="row">
      <label for="node-input-isPreview" style="width:250px;text-align: left;clear: both;float:left;margin-left:20px;">Preview</label>
      <input type="checkbox" id="node-input-isPreview">
  </div>

  <!-- ------------------------------------------------------------------- -->
  <div class="form-row">
      <label for="node-input-bucket">Bucket</label>
      <input type="text" id="node-input-bucket" placeholder="">
  </div>
  <div class="form-row">
      <label for="node-input-mailStatus">Status</label>
      <input type="text" id="node-input-mailStatus" placeholder="">
  </div>
  <!-- ------------------------------------------------------------------- -->
</script>

<script type="text/x-red" data-help-name="mail.list">
  <h3>Lists all emails for the current user</h3>
    <p>
      This node will return all emails for the current user. It will send one msg per email entry found.<br>
      The second output will send a count of all emails.<br>
      You can define the bucket (i.e. inbox, draft, outgoing), status (i.e. sent), and whether only read emails, preview emails or deleted emails should be listed in the configuration.<br>
    </p>
    <h3>Inputs</h3>
    <dl class="message-properties">
        None
    </dl>
    <h3>Outputs</h3>
    <dl class="message-properties">
      <dt>msg.emails<span class="property-type">array</span></dt>
    </dl>
</script>
