<script type="text/javascript">
  RED.nodes.registerType('mail.download', {
    category: 'Accellion Custom',
    color: '#fce5bb',
    defaults: {
      name: {value: ""},
      token: {value:"", type:"token", required: true},
      folder: {value:"", required: false},
      files: {value:true, required: true},
      email: {value:true, required: true},
      markAsRead: {value:true, required: true},
    },
    inputs: 1,
    outputs: 1,
    icon: "accellion_custom.png",
    label: function() {
      return this.name || "mail.download";
    }
  });
</script>

<script type="text/x-red" data-template-name="mail.download">
  <div class="form-row">
      <label for="node-input-name">Name</label>
      <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
      <label for="node-input-token">Server</label>
      <input type="text" id="node-input-token" placeholder="">
  </div>

  <!-- ------------------------------------------------------------------- -->
  <div class="row">
      <label for="node-input-files" style="width:250px;text-align: left;clear: both;float:left;margin-left:20px;">Download files</label>
      <input type="checkbox" id="node-input-files">
  </div>
  <div class="row">
      <label for="node-input-email" style="width:250px;text-align: left;clear: both;float:left;margin-left:20px;">Download email</label>
      <input type="checkbox" id="node-input-email">
  </div>
  <div class="row">
      <label for="node-input-markAsRead" style="width:250px;text-align: left;clear: both;float:left;margin-left:20px;">Mark email as read</label>
      <input type="checkbox" id="node-input-markAsRead">
  </div>

  <!-- ------------------------------------------------------------------- -->
  <div class="form-row">
      <label for="node-input-folder">Destination Folder</label>
      <input type="text" id="node-input-folder" placeholder="">
  </div>
  <!-- ------------------------------------------------------------------- -->
</script>

<script type="text/x-red" data-help-name="mail.download">
  <h3>Download an email</h3>
    <p>
      This node will download an email content in json format as well as the attached files into a destination folder.<br>
      You can use this node in conjuction with <b>mail.list</b><br>
      Specify the destination folder as well as the objects to download (email, files or both) in the configuration<br>
      The destination folder can also be provided in <b>msg.folder</b><br>
    </p>
    <h3>Inputs</h3>
    <dl class="message-properties">
        <dt>email<span class="property-type">object</span></dt>
        <dt>folder<span class="property-type">string</span></dt>
    </dl>
    <h3>Outputs</h3>
    <dl class="message-properties">
      None
    </dl>
</script>
