<script type="text/javascript">
  RED.nodes.registerType('utils.trigger', {
    category: 'Accellion Custom',
    color: '#fce5bb',
    defaults: {
      name: {value: ""},
      key: {value: "", required: true},
      timeout: {value: 120, required: true},
    },
    inputs: 1,
    outputs: 1,
    icon: "accellion_custom.png",
    label: function() {return this.name || "utils.trigger";}
  });
</script>

<script type="text/x-red" data-template-name="utils.trigger">
  <div class="form-row">
      <label for="node-input-name">Name</label>
      <input type="text" id="node-input-name" placeholder="">
  </div>
  <div class="form-row">
      <label for="node-input-key">Key</label>
      <input type="text" id="node-input-key" placeholder="">
  </div>
  <div class="form-row">
      <label for="node-input-timeout">Timeout (s)</label>
      <input type="number" id="node-input-timeout" placeholder="">
  </div>
  <!-- ------------------------------------------------------------------- -->
</script>

<script type="text/x-red" data-help-name="utils.trigger">
  <h3>Triggers a flow based on an HTTP request</h3>
    <p>
      Allows you to kick off a flow from an HTTP request, then provides the flow's final <code>msg</code> object back in the response.
    </p>
    <p>
      Connect the output of this node to the start of your flow, and all potential endings of your flow back to the input of this node.
      <br>
      This node will listen on the local server [protocol]://[url]:[port]/[key] for a GET request matching the provided <code>key</code> from the config.
      <br>When triggered, it will send a message to the next node, starting the flow. Once the flow is completed, and if the flow's last
      node is connected back to the input of this node, it will send an http response to the http caller, providing the <code>msg</code> as a json object.
    </p>
    <p>
      Timeout lets you specify the flow's maximum run time before sending a failure response to the http request.
    </p>
    <p>
      Example: If you configure this node with a key of "hjvkRU88UijZmMMlOOpT443tg6vhj", and assuming this service is running as http://192.168.0.10:1881, the url to trigger the node will be:
      <br><code>http://192.168.0.10:1881/hjvkRU88UijZmMMlOOpT443tg6vhj</code>
    </p>
    <h3>Inputs</h3>
    <dl class="message-properties">
      None
    </dl>
    <h3>Outputs</h3>
    <dl class="message-properties">
      None
    </dl>
</script>
